body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: aliceblue;
}
.user_card {
  height: 450px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: rgb(255, 188, 188);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: aliceblue;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: rgb(255, 168, 168);
  color: white;
}
.login_btn:hover {
  background: rgb(255, 128, 128);
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: rgb(255, 128, 128);
  color: white;
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}
.input_user,
.input_pass:focus {
  box-shadow: none;
  outline: 0px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(255, 128, 128);
}

.connected,
.ready {
  font-weight: normal;
  opacity: 0.25;
  text-decoration: line-through;
}

.connected.active,
.ready.active {
  opacity: 1;
  text-decoration: none;
}
